@import "tailwindcss";

:root {
  --bg-color: #f9f9f9;
  --bg-color-secondary: #eff6ff;
  --font-color: #364153;
  --primary-color: #1f65a2;
  --secondary-color: #1fa292;
  --tertiary-color: #a2451f;

  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

@theme {
  --color-background: var(--bg-color);
  --color-background-secondary: var(--bg-color-secondary);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}
